<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

<listeners>
     
        
         <listener class-name="SmokeTest.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>

 </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="SmokeTest.ShopifyTest"/>
      <class name="SmokeTest.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
